* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Helvetica, sans-serif;
}

body {
    background: #343434;
    color: #FAFAFA;
}

.right {
    text-align: right;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

.italic {
    font-style: italic;
}

/* MENU */

.menu {
    margin: 1rem .25rem;
    padding: 1rem .5rem;
    border-radius: .5rem;
    background-color: peachpuff;
}

/* COCKTAIL CARDS */

.cocktail {
    display: flex;
    flex-direction: column;
}

.cocktail-info {
    margin-top: .5rem;
    width: 90%;
}

.cocktail div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktail-details {
    /* width: 90%; */
}

.cocktail h1 {
    font-size: 1.5rem;
    margin: .5rem 0;
}

.cocktail h2 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: .075rem;
    text-transform: uppercase;
    margin: .75rem 0;
    padding-bottom: .5rem;
    border-bottom: 1px solid black;
}

.cocktail .instructions {
    margin: .5rem 0;
}

.cocktail img {
    width: 96%;
    border-radius: .5rem;
    margin: .5rem auto 0;
}

/* CONTROLS */

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: auto;
}

.slide-button {
    font-size: 1.25rem;
    background: #28282B;
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
}

.slide-button:hover, .flip:hover {
    cursor: pointer;
    background: #FAFAFA;
    color: #28282B;
}

.flip {
    background: #28282B;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
}