* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Helvetica, sans-serif;
}

.right {
    text-align: right;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

/* MENU */

.menu {
    margin: 1rem .25rem;
    padding: 1rem .5rem;
    border-radius: .5rem;
    background-color: peachpuff;
}

/* COCKTAIL CARDS */

.cocktail {
    display: flex;
    flex-direction: column;
}

.cocktail-info {
    margin-top: .5rem;
}

.cocktail div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktail-details {
    width: 80%;
}

.cocktail h1 {
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
}

.cocktail h2 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: .075rem;
    text-transform: uppercase;
    margin: .75rem 0;
    padding-bottom: .5rem;
    border-bottom: 1px solid black;
}

.cocktail .instructions {
    margin: .5rem 0;
}

.cocktail img {
    width: 96%;
    border-radius: .5rem;
    margin: .5rem auto 0;
}

/* CONTROLS */

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: .25rem;
    font-size: 2rem;
    background: peachpuff;
    border-radius: 1rem;
}

.slide-button:hover {
    cursor: pointer;
    background: #ffceb9;
}